library_xml/src/main/resources/org/example/library_xml/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="author" type="xs:string"/>
                            <xs:element name="year" type="xs:gYear"/>
                            <xs:element name="price" type="xs:decimal"/>
                            <xs:element name="category" type="xs:string"/>
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:integer" use="required"/>
                        <xs:attribute name="copies" type="xs:integer" use="required"/>
                        <xs:attribute name="available" type="xs:integer" use="required"/>

                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
